<div class="container py-3">
    <div class="row py-1">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img src="../../assets/yellow.jpg" class="rounded-circle shadow-4"
                style="width: 40px;"   />
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row">
                <div class="col-6">
                    <h6>Drew james</h6>
                </div>
                <div class="col-6">
                    <h6 class="text-secondary">2 mins ago</h6>
                </div>
            </div>
            <div class="row">
                    <h6 class="text-secondary">United States</h6>
            </div>
        </div>
    </div>
    <!--  2nd user  -->
    <div class="row py-1">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img src="../../assets/specs.jpg" class="rounded-circle shadow-4"
                style="width: 40px;"   />
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row">
                <div class="col-6">
                    <h6>Drew james</h6>
                </div>
                <div class="col-6">
                    <h6 class="text-secondary">5 mins ago</h6>
                </div>
                
            </div>
            <div class="row">
                    <h6 class="text-secondary">United States</h6>
            </div>
        </div>
    </div>
    <!--  3rd user -->
    <div class="row py-1">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img src="../../assets/picture.jpg" class="rounded-circle shadow-4"
                style="width: 40px;"   />
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row">
                <div class="col-6">
                    <h6>Drew james</h6>
                </div>
                <div class="col-6">
                    <h6 class="text-secondary">10 mins ago</h6>
                </div>
            </div>
            <div class="row">
                    <h6 class="text-secondary">United States</h6>
               
            </div>
        </div>
    </div>
    <div class="row">
        <h6 class="text-primary center"> Show More</h6>
    </div>
</div>